@import 'fonts.css';

*{
    margin: 0;
    padding: 0;
    border: 0;
}
SELECT option{
	font-family:Tahoma;
}
.lazem{
	color:red;
}
.lazem1{
	color:darkred;
}
body{
	margin:0;
}	

#mainDIV{
	width:100%;
}
#header{
	width:100%;
	height:80px;
	background-color:#004a5f;
}
#cheader{
	width:100%;
	height:180px;
	margin-top:20px;
}
#nav,#nav-responsive{
	direction:rtl;
	text-align:right;
	width:65%;
	float:right;
}
#cnav,#cnav-responsive{
	text-align:center;
	width:89%;
	float:right;
}
#cnav{
	padding-bottom:20px;
	float:left;
}
#nav-responsive{
	width:100%;
	text-align:center;
	font-family:Vazir;
	font-size:10px;
	display:none;
}
#mobile-menu{
	color:black;
	background-color:#EDEDED;
	border:1px solid gray;
	border-radius:5px;
	padding:5px;
	font-size:16px;
	width:80%;
	margin:0 auto;	
	text-align:right;
}
#res-menu-title{
	background-color:orange;
	color:#ffffff;
}
#res-menu-title a{
	text-decoration:none;
}
#res-menu{
	display:none;
}
#res-menu a{
	display:block;
	text-decoration:none;
}
#cnav-responsive{
	text-align:center;
	font-family:Vazir;
	font-size:10px;
	display:none;
}
#nav-responsive DIV{
	margin-top:10px;
	font-size:15px;
}
#nav-responsive SELECT {
	width:96%;
	margin:0px auto;
}
#cnav .menu {float:right;}
#cnav .menu a{font-size:13px;}
#cnav .menu li{margin:0px 0px 0px 38px;}
#cnav #user-pic {float:left;}
ul.menu {margin:25px 50px 0px 0px; display:inline-block;}
ul.menu li {float:right; line-height:30px; margin:0px 0px 0px 28px;list-style-type:none;border-right:1px solid pink;border-radius:20px;padding-right:5px;}
ul.menu li:hover, ul.menu li.current {}
ul.menu li a {font-size:15px; line-height:30px; color:#ffffff; display:inline-block;text-decoration:none;font-family:Vazir;}
ul.menu li a:hover , ul.menu li.current a {color:yellow;}
ul.menu li a:hover , ul.menu li a.current {color:yellow;}

#cnav .menuc {float:right;}
#cnav .menuc a{font-size:13px;}
#cnav .menuc li{margin:0px 0px 0px 38px;}
#cnav #user-pic {float:left;}
ul.menuc {margin:25px 50px 0px 0px; display:inline-block;}
ul.menuc li {float:right; line-height:30px; margin:0px 0px 0px 48px;list-style-type:none;}
ul.menuc li:hover, ul.menuc li.current {}
ul.menuc li a {font-size:15px; line-height:30px; color:#000000; display:inline-block;text-decoration:none;font-family:Vazir;}
ul.menuc li a:hover , ul.menuc li.current a {color:blue;}
ul.menuc li a:hover , ul.menuc li a.current {color:blue;}

#logo{
	width:35%;
	float:left;
	text-align:center;
	padding-top:25px;
}
#clogo{
	width:89%;
	text-align:left;
	padding-top:15px;
	float:left;
	border-bottom:1px dashed #dddddd;
}
#clogo table{
	width:20%;
	float:right;
	direction:rtl;
	text-align:right;
}
#clogo table a{
	font-family:Vazir;
	font-size:12px;
	color:#499517;
	text-decoration:none;
}
#clogo table a:hover{
	color:orangered;
}
#clogo table a.current {
	text-shadow: 0px 0px 8px blue;
	color:#000000;
}

#content,#cp-content,#first-content{
	width:100%;
	min-height:650px;
	border-top:1px dashed #000000;
	text-align:center;
	direction:rtl;
	font-family:Vazir;
}
#first-content{
	min-height:500px;
}
#first-content-mobile{
	min-height:auto;
}
#top{
	width:100%;
}
#top-slide{
	width:90%;
	height:420px;
	margin:0 auto 15px auto;
}
#top-forums, #top-forums-mobile{
	width:90%;
	margin:10px auto 20px auto;
}
#top-forums-mobile{
	border-spacing:20px;
}
#top-forums a, #top-forums-mobile a{
	background-color:green;
	border:1px solid gray;
	border-radius:5px;
	color:#FFFFFF;
	padding:8px;
	font-family:Vazir;
	font-size:13px;
	text-decoration:none;
}
#top-forums a:hover, #top-forums-mobile a:hover{
	background-color:#18c038;
	color:black;
}
#top-forums-mobile{
	display:none;
}
#top-slide img{
	width:100%;
	height:420px;
}
#slide-nav{
	width:50%;
	margin:10px auto 0px auto;
}
.slides{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#about-site{
	width:90%;
	height:130px;
	margin:0 auto 15px auto;
	padding:20px;
	text-align:right;
	text-align:justify;
	direction:rtl;
	text-justify:inter-word;
	background-color:#FFFFFF;
	border:1px solid #dddddd;
	/*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
}
#about-site h3{
	font-family:Vazir;
	text-align:center;
	color:darkred;
}

#about-site h4{
	font-family:Vazir;
	color:#53a61b;
}
#about-site h5{
	font-family:Vazir;
	margin-top:10px;
	padding-bottom:20px;
	font-weight:normal;
	line-height:30px;
}
#forum,#needs{
	width:30%;
	max-width:30%;
	height:100px;
	margin-top:20px;
	font-family: Vazir;
	text-align:right;
	text-align:justify;
	direction:rtl;
	text-justify:inter-word;
	font-weight:normal;
	/*box-shadow: 0 5px 15px rgba(0,0,0,0.30), 0 5px 5px rgba(0,0,0,0.22);*/
	border:1px solid #e6e6e6;
	border-radius:5px;
}
#forum:hover,#needs:hover{
	background-color:#fafafa;
	border:1px solid #bbb;
}
#forum{
	width:40%;
	margin-bottom:80px;
	height:140px;
	padding:15px;
	text-align:center;
}
#needs{
	width:40%;
	margin-bottom:80px;
	height:140px;
	padding:15px;
	text-align:center;
}
#forum h5, #needs h5{
	font-family:Vazir;
	margin-top:10px;
	padding-bottom:20px;
	font-weight:normal;
}
#middle{
	width:100%;
	min-height:440px;
	text-align:center;
}
#welcome{
	width:43%;
	font-family:Yekan;
	font-size:30px;
	border-right:3px solid #20ac24;
	border-left:3px solid #20ac24;
	border-radius:20px;
	margin:50px auto;
	margin-bottom:50px;
}
#mdl, #mdl-responsive,#mdl-numbers{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	direction:rtl;
}
#mdl tr td, #mdl-responsive tr td, #mdl-numbers tr td{
	width:20%;
}
#box1,#box2,#box3,#box4,#box5,
#box1mobile,#box2mobile,#box3mobile,#box4mobile,#box5mobile{
	display:none;
	width:90%;
	height:405px;
	border:1px dotted #e6e6e6;
	overflow:hidden;
}
#box1mobile,#box2mobile,#box3mobile,#box4mobile,#box5mobile{
	display:block;
}
#box1:hover,#box2:hover,#box3:hover,#box4:hover,#box5:hover,
#box1mobile:hover,#box2mobile:hover,#box3mobile:hover,#box4mobile:hover,#box5mobile:hover{
	cursor:pointer;
	background-color:#fafafa;
	border:1px dotted gray;
}
#box1 h4,#box2 h4,#box3 h4,#box4 h4,#box5 h4,
#box1mobile h4,#box2mobile h4,#box3mobile h4,#box4mobile h4,#box5mobile h4{
	width:100%;
	text-align:center;
	font-family:Vazir;
	font-size:14px;
	color:#0499c3;
}
#box1 h5,#box2 h5,#box3 h5,#box4 h5,#box5 h5,
#box1mobile h5,#box2mobile h5,#box3mobile h5,#box4mobile h5,#box5mobile h5{
	width:90%;
	text-align:center;
	text-align:justify;
	font-family:Vazir;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	font-weight:normal;
}
#box-logo1,#box-logo2,#box-logo3,#box-logo4,#box-logo5,
#boxmobile-logo1,#boxmobile-logo2,#boxmobile-logo3,#boxmobile-logo4,#boxmobile-logo5{
	width:90%;
	height:120px;
	margin:10px auto;
	background-color:blue;
}
#box-logo1,#boxmobile-logo1{
	background:url(../images/box1.png) no-repeat center;
}
#box-logo2,#boxmobile-logo2{
	background:url(../images/box2.png) no-repeat center;
}
#box-logo3,#boxmobile-logo3{
	background:url(../images/box3.png) no-repeat center;
}
#box-logo4,#boxmobile-logo4{
	background:url(../images/box4.png) no-repeat center;
}
#box-logo5,#boxmobile-logo5{
	background:url(../images/box5.png) no-repeat center;
}
#numbers,#numbers-mobile{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	direction:rtl;
	background-color:#FFFFFF;
	border:1px solid gray;
	border-radius:10px;
	/*box-shadow: 0px 0px 10px green;*/
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.30), 5px 5px 5px rgba(0,0,0,0.22);
	margin-bottom:10px;
	padding:20px;
}
#numbers-mobile{
	width:10%;
	box-shadow:none;
	display:none;
	margin-bottom:20px;
	border:none;
}
#num1,#num2,#num3,#num4,#num5{
	/*display:none;*/
	width:90%;
	height:200px;
	/*background-color:#b7cbb6;
	border:1px solid #0a5809;*/
	border-radius:5px;
	overflow:hidden;
}
#num1 img, #num2 img, #num3 img{
	width:30%;
}
#num1 h4,#num2 h4,#num3 h4,#num4 h4,#num5 h4{
	width:100%;
	text-align:center;
	font-family:Vazir;
	font-size:16px;
	margin-top:10px;
	color:#2f1486;
}
#num1 h5,#num2 h5,#num3 h5,#num4 h5,#num5 h5{
	width:100%;
	text-align:center;
	font-family:Vazir;
	font-size:40px;
	margin-top:10px;
	color:#ce3636;
}
#footer{
	float:clear;
	width:100%;
	height:300px;
	background-color:#0a4a53;
	border-top:1px dashed gray;
}
#footer-left{
	margin-top:50px;
	width:30%;
	float:left;
	text-align:center;
}
#footer-right{
	margin-top:50px;
	width:70%;
	float:left;
	text-align:right;
}
#footer-left-site,#footer-left-contact,#footer-left-net{
	width : 100%;
}
#footer-left-contact a{
	color:#ffffff;
	text-decoration:none;
}
#footer-left-site{
	height:88px;
	background:url(../images/site1.png) no-repeat center;
}
#footer-right{
	height:105px;
	background:url(../images/oloom.png) no-repeat center;
}
/**************corps.php ***************/
#CorpFilter{
	width:100%;
	font-family:Vazir;
	margin-top:10px;
}
#CorpFilter #FilterTableResponsive{
	width:100%;
	margin:0 auto;
	display:none;
}
#CorpFilter SELECT, .formMember SELECT{
	background-color:#dddddd;
	border:1px solid gray;
	padding:5px;
}
#CorpFilter INPUT{
	background-color:#dddddd;
	border:1px solid gray;
	border-radius:2px;
	padding:5px;
}
#CorpFilter a{
	background-color:green;
	border:1px solid gray;
	border-radius:5px;
	color:#FFFFFF;
	padding:8px 20px;
	font-family:Vazir;
	font-size:13px;
	text-decoration:none;
}
#CorpFilter a:hover{
	background-color:#18c038;
	color:black;
}
#FilterTableResponsive{
	/*display:none;*/
}
#FilterTable{
	width: 100%;
}
#FilterTable input{
	width:90%;
	padding: 5px;
	background-color: #dddddd;
	border: 1px solid gray;
	border-radius: 5px;
	font-family: Vazir;
}
#yes-search span{
	color:#0499c3;
}
#yes-search{
	width:90%;
	margin:50px auto;
}
#yes-search a{
	text-decoration:none;
}
#yes-search a:hover{
	color:red;
}
#search-tbl,#state-tbl{
	margin: 0 auto;
	width:90%;
	border-collapse: collapse;
	border-spacing: 0;
}
#search-header{
	margin: 0 auto;
	width:90%;
	font-family: Vazir;
	text-align: right;
	border-collapse: collapse;
	background-color:#9dc1ad;
	border-bottom:3px solid black;
}
#search-header tr td {
	padding: 5px;
}
#state-tbl {
	width: 60%;
	margin: 10px auto;
}
#state-tbl a{
	text-decoration: none;
	color:blue;
}
#state-tbl a:hover{
	color:orangered;
}
#search-tbl tr td,#state-tbl tr td{
	border-bottom:1px solid black;
	padding:5px;
	text-align:right;
}
#state-tbl img,#search-tbl img{
	cursor: pointer;
}
#search-tbl tr:nth-child(odd),#state-tbl tr:nth-child(odd){
	background-color:#f6f6f6;
}
#search-tbl a{
	text-decoration: none;
	color: blue;
}
#search-tbl #lnk{
	color: darkred;
	font-size: 13px;
}
#no-result{
	width:20%;
	margin:100px auto;
	background-color:#f5f2bc;
	color:red;
	padding:15px;
	border:1px solid gray;
	border-radius:20px;
}
#programmer{
	width:90%;
	margin:100px auto;
	text-align:center;
	direction:ltr;
}
#programmer img{
	border:1px solid gray;
}
#programmer table{
	margin: 0px auto;
}
#programmer a{
	text-decoration:none;
}
#map {width:100%; height:235px; margin:50px auto 10px auto;}
#map iframe {width:572px; height:235px;}
#map p{margin-bottom:10px;}
#login-form{
	width:30%;
	margin:50px auto;
	border:2px dashed #dddddd;
	border-radius:2px;
	padding:10px;
}
#login-form [type="text"],#login-form [type="password"]{
	width:80%;
	height:30px;
	border:1px solid gray;
	background-color:#fffef6;
	border-radius:5px;
	padding:5px;
	text-align:left;
}
#login-form P{
	width:80%;
	margin:0px auto;
	text-align:right;
	color:blue;
	margin-top:15px;
}
#login-form [type="submit"]{
	background-color:green;
	cursor:pointer;
	border:1px solid gray;
	border-radius:5px;
	color:#FFFFFF;
	padding:8px 20px;
	font-family:Vazir;
	text-decoration:none;	
	margin-top:20px;
}
#login-form [type="submit"]:hover{
	background-color:#18c038;
	color:black;
}
#login-form table{
	margin:0px auto;
}
#login-form .captcha p{
	width:100%;
	text-align:center;
}
#login-form p a{
	width:100%;
	text-align:center;
	text-decoration:none;
}
#captcha{
    width:60%;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}
#snackbar{
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #ba1e1e;
  color: #fff;
  text-align: center;
  border:4px solid darkblue;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 10000;
  left: 50%;
  bottom: 30px;
  font-size: 19px;
  font-family:Vazir;
}
#snackbar.show{
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.tab,.tab1 {
	width:94%;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*background-color: #5E83BA;*/
    direction: rtl;
}
.tab button,.tab1 button {
	font-family: Vazir;
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    font-size: 17px;
    border:1px solid #d7d7d7;
    font-size: 14px;
}
.tab button:hover,.tab1 button:hover {
    background-color: #4c6066;
    color:white;
}
.tab button.active,.tab1 button.active {
    background-color:coral;
}
.tabcontent,.tabcontent1 {
	width:85%;
    display: none;
    border: 1px solid #ccc;
    /*border-top: none;*/
    height: 530px;
	max-height:530px;
	overflow-y:auto;
    margin-bottom: 30px;
	padding:20px;
}
.tab1{width: 100%}
.tabcontent1{width: 100%;}
#profile-right{
	width:30%;
	height:300px;
	float:right;
	margin-top:30px;
}
#prir{
	width:90%;
	margin:0 auto;
	text-align:right;
}
#prir input[type=text]{
	background-color:#FFFFFF;
}
#prir p{
	color:orange;
}
#prir hr{
	border-bottom:2px solid green;
	margin-top:8px;
	margin-bottom:8px;
}
#profile-left{
	width:70%;
	float:left;
	margin-top:30px;
	text-align:right;
}
#profile-right img{
	width:50%;
	border:1px solid gray;
}
#pril {
	width:95%;
	margin:0 auto;
}
#pril input[type=text]{
	background-color:#FFFFFF;
}
#pril p{
	color:green;
}
#pril hr{
	border-bottom:2px solid darkred;
	margin-top:8px;
	margin-bottom:8px;
}
#profile-tbl{
	width:100%;
	text-align:right;
	color:blue;
	border-collapse:collapse;
	margin-bottom:20px;
}
#profile-left table input{
	padding:5px;
	background-color:transparent;
	font-family:Vazir;
	font-size:15px;
	color:black;
}
#profile-tbl tr:nth-child(odd){
	background-color:#f6f6f6;
}
#profile-tbl td{
	border:1px solid gray;
}
#profile-tbl tr td{
	padding:5px;
	border-bottom:1px solid gray;
}

#PopupWindow, #PopupWindow1, #PopupWindow2, #PopupWindow3, #PopupWindow4,#PopupWindow6,#PopupWindow7, #GetCorpMembers, #GetCorpProducts,
#GetCorpSabeghe, #GetCorpEnteshar, #GetCorpEsteghrar, #FormEmtiaz, #FormUpload, #FileManager, #formWait, #Waiting, #Waiting1, #Waiting2, #Waiting3, #Waiting4,
#Waiting6,#Waiting7 {
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.7);
    color: #000;
    top:0;
    left:0;
    display:none;
    position: fixed;
    overflow:auto;
}
.form, .form1, .form2, .form3, .form4, .form6, .form7, .formMember, .formProducts, .formSabeghe, .formEnteshar, .formEsteghrar, .formMsg, .formUpload
,.form44{
    width: 51%;
    height: 97%;
    max-width:51%;
    min-width:350px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    background-color:#fff;
    color:black;
    text-align: right;
    left:0;
    top:0;
    direction: rtl;
	margin:100px auto;
}

.formEsteghrar{
	width:65%;
	max-width:65%;
	min-width:65%;
	margin-top:-50px;
}
.formMember{
	width:85%;
	max-width:85%;
	min-width:85%;
	height:85%;
	max-height:85%;
	min-height:85%;
	margin-top:0px;
}
.form44{
	width:90%;
	height:715px;
	min-height: 100%;
	max-height: 100%;
	margin:0px auto;
	max-width:100%;
	min-width:100px;
}
.input-table {
    width:100%;
    table-layout: fixed;
}
.input-table tr td{
    border:1px solid #f3f3f3;
    padding:5px;
    text-align: center;
    text-align:center;
}

.input-table .col1{
    width:370px;
}
.input-table .col2{
    width:50px;
}
.input-table textarea{
	resize:none;
	background-color:#FFFFFF;
	color:#000000;
	padding:10px;
}
#_product{
    width:100%;
    border:1px solid gray;
    border-radius: 5px;
}
.UploadedFiles{
    width:100%;
    height: 70%;
    max-height: 70%;
    /*background-color: #FFFFFF;*/
    margin-bottom: -20px;
    /*border: 1px solid gray;*/
    overflow-y:auto;
}
#ManageTable {
    margin:auto;
    width: 100%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border: 1px solid black;
    background: #7e979d;
    margin-bottom:50px;
    text-align:center;
}
#ManageTable th, #ManageTable td {
    padding:8px 10px;
    border:1px solid gray;
}
#ManageTable thead, #ManageTable tfoot {
    background:#f9f9f9;
    display:table;
    width:100%;
    width:calc(100% - 18px);
}
#ManageTable tbody {
    width:100%;
}
#ManageTable tbody tr {
    display:table;
    width:100%;
    background: #FFFFFF;
    box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);

}

#ManageTable tbody td {
    font-size: 15px;
}


#ManageTable tbody tr:nth-child(even)
{
    background: #f2ffea;
}

#ManageTable tbody tr:hover {
    background:#e8d5b4;
    color:#000000;
    /*box-shadow: inset 0 1px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.75);*/
}
#u-p1, #u-p2, #u-p3, #u-p4, #u-p5, #u-p6,
#u-g1, #u-g2, #u-g3, #u-g4, #u-g5, #u-g6 {
    display: none;
}
.btn-holder{
    width: 100%;
    border-top: 1px solid #5E83BA;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}
.btn-holder a, .btn-holder .btns{
	background-color:green;
	border:1px solid gray;
	border-radius:5px;
	color:#FFFFFF;
	padding:8px 25px;
	font-family:Vazir;
	font-size:13px;
	text-decoration:none;
	cursor:pointer;
}
 .btn-holder .btns{
	 margin-left:30px;
 }
.btn-holder a:hover, .btn-holder .btns:hover{
	background-color:#18c038;
	color:black;
}
.ManageHeader{
	width:100%;
	text-align:center;
	margin-bottom:20px;
}
.popup-hr-products{
	width:100%;
	text-align:center;
}
#user-pic{float:right;width:10%;}
#user-pic img{
	width:100px;
	height:100px;
	border:1px solid gray;
	border-radius:100%;
}
#user-pic table{
	width:100%;
	font-family:Vazir;
	font-size:12px;
	text-align:center;
}
#user-pic a{
	color:red;
	text-decoration:none;
}
#user-pic a:hover{
	color:orange;
	text-decoration:none;
}
#set-profile-table tr td {
	padding:5px;
}
#set-profile-table{
	border-collapse: collapse;
	width:80%;
	margin: 20px auto;
	text-align: right;
	table-layout: fixed;
}
#set-profile-table img{
	border: 1px solid gray;
	width: 10%;
}
.upload-btn{
	width:80%;
	cursor: pointer;
	background-color: #104b66;
	border: 2px solid midnightblue;
	border-radius: 5px;
	color: white;
	padding: 5px;
	box-shadow: 2px 2px 10px #000000;
	text-align: center;
}
.upload-note-niroo{
    display: none;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type="file"] {
	display:none;
}
#set-profile-table input {
	color:blue;
	border:1px solid lightslategray;
	background-color:#fffef6;
	border-radius: 5px;
	padding: 8px;
}
#btn-holder{
	width: 80%;
	border-top:2px dotted gray;
	margin:0px auto;
	padding-top: 20px;
}
#btn-holder a,#add{
	background-color:green;
	border:1px solid gray;
	border-radius:5px;
	color:#FFFFFF;
	padding:8px 15px;
	font-family:Vazir;
	font-size:13px;
	text-decoration:none;
}
#btn-holder a:hover, #add:hover{
	background-color:#18c038;
	color:black;
	cursor: pointer;
}
#add{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}
.en{
	text-align: left;
}
#message-box-header{
	margin: 50px auto 0px auto;
	direction: ltr;
	width: 95%;
	text-align: center;
	background-color: #FFFFFF;
	color: darkred;
	border-collapse: collapse;
}
#message-box-header td{
	border:1px solid black;
	background-color: #9dc1ad;
	padding: 10px;
	max-width: 0;
}
#messages{
	margin:0px auto;
	direction: ltr;
	border-collapse: collapse;
	width: 95%;
	text-align: center;
	background-color:#FFFFFF;
	color: black;
}
#messages td{
	border:1px solid black;
	padding: 5px;
	text-align: center;
}
#messages td a{
	text-decoration: none;
	color: black;
}
#messages td:nth-child(4),#messages td:nth-child(3) {
	text-align: right;
}
#tmsg{
	width: 100%;
	border-collapse: collapse;
}
#tmsg tr td{
	padding: 5px;
}
#tmsg input{
	background-color:lightgoldenrodyellow;
	border: 1px solid gray;
	border-radius: 5px;
	color: blue;
	padding: 5px;
	font-family: Vazir;
}
#tmsg textarea {
	background-color: lightgoldenrodyellow;
	border: 1px solid gray;
	border-radius: 5px;
	width: 100%;
	resize: none;
	color: blue;
	padding: 5px;
	font-family: Vazir;
}
#NewMessages{
	display: none;
	color: red;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding: 5px;
	border-radius: 100%;
}
#loadinf-content{
	margin-top: 200px;
}
.form input, .form1 input, .form2 input, .form3 input, .form6 input, .form7 input{
	padding:10px;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	border-radius: 15px;
}
#popup-header,#popup-header1,#popup-header2,#popup-header3,#popup-header6,#popup-header7{
	width: 90%;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	border-bottom:1px solid	blue;
}
#cuf, #cuf1, #cuf2, #cuf3, #cuf4, #cuf6, #cuf7,#modir-pic{
	width:200px;
	margin-top: 20px;
	margin-bottom: 20px;
	border:1px solid gray;
}
#all_states,#state_list,#all_states4,#state_list4,#all_states,#all_centers,#center_list,
#all_states1,#all_centers1,#state_list1,#center_list1,#all_states2,#all_centers2,#state_list2,
#center_list2,#all_states3,#all_centers3,#state_list3,#center_list3,#all_states6,#all_centers6,
#state_list6,#center_list6,#all_states7,#all_centers7,#state_list7,#center_list7,#hoze_list,
#type_list,#hoze_list,#zamine_list,#nazer_list,#mali,#sex,#all_corps{
	border:1px solid gray;
	border-radius:5px;
	padding:8px 15px;
	font-family:Vazir;
	font-size:15px;
	text-decoration:none;
	background-color:#dddddd;
	border:1px solid gray;
	padding:5px;
	color:black;
}
#board-msg{
	width:20%;
	margin: 50px auto;
	background-color:#be3631;
	color:white;
	border:1px solid darkred;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 0px 25px orangered;
}
#rep-filter{
	width:100%;
}
#rep-table{
	width: 60%;
	margin: 20px auto;
	text-align: right;
}
#rep-table td{
	padding: 5px;
	border-bottom:2px solid black ;
}
#rep-table tr:nth-child(odd){
	background-color:#efefef;	
}
#rep-table input{
	padding: 7px;
	background-color: #bfcd7b;
	border:1px solid gray;
	border-radius: 5px;
	font-family: Vazir;
}
#send-to-all{
	width: 100%;
}
#CorpFilter{
	width:20%;
}
#MsgAllTable{
	width: 50%;
	margin: 0 auto;
}
#send-to-all textarea{
	resize: none;
	width: 50%;
	height: 200px;
	border:1px solid gray;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Vazir;
	box-shadow: 0 0 10px gray;
}
#loadinf-content{
	width: 20%;
	margin-top: 20%;
	margin-right: auto;
	margin-left: auto;
	vertical-align: center;
}
#loading-caption{
	text-align: center;
	border:0.2em solid orangered;
	border-radius: 5px;
	color: white;
	background-color:darkred;
}
#loading{
	width:100%;
	margin-left: auto;
	margin-right: auto;
}
.lbl-member{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #5E83BA;
	border:2px solid gray;
	padding: 10px;
	color: white;
}
.member-no{
	width:20px;
	height:20px;
	background-color: #fffc23;
	color: #cb0e0e;
	border: 1px solid gray;
	border-radius: 50px;
	text-align: center;
	padding: 5px;
}
#input-corp-table{
	width: 100%;
	text-align: right;
}
#input-corp-table tr td{
	border:1px solid #dddeee;
	border-radius: 5px;
	padding:5px;
}
#input-corp-table input,#input-corp-table select{
	border-radius:5px;
	padding:5px;
	font-family:Vazir;
	font-size:15px;
	background-color:#dddddd;
	border:1px solid gray;
	color:black;
}

.lbl-member #add{
	margin-top: -12px;
	margin-left: 10px;
	font-size: 20px;
}
#idea,#_product{
	resize: none;
	width: 90%;
	font-family:Vazir;
}
#mdl-responsive{
	display:none;
}
#help{
	width:90%;
	text-align:right;
	margin:50px auto;
	margin-bottom:100px;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven{
	width:90%;
	text-align:right;
	margin:20px auto;
	border:1px dashed gray;
	padding:10px;
}
#one img, #two img, #three img, #four img, #five img, #six img, #seven img, #eight img, #nine img, #tenv img, #eleven img{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
}
#help a{
	text-decoration:none;
	color:darkred;
}
#help a:hover{
	font-style:italic;
	color:darkgreen;
}
#ttl{
	color:darkgreen;
}
#import-top{
	width:50%;
	height:100px;
	margin:20px auto;
	border:1px dashed gray;
	padding:10px;
}
#btns, #btn-show, #btn-import{
	background-color:green;
	border:1px solid gray;
	border-radius:5px;
	color:#FFFFFF;
	padding:8px;
	font-family:Vazir;
	font-size:13px;
	text-decoration:none;
	cursor:pointer;
}
#import-btns{
	width:30%;
	text-align:center;
	margin:20px auto;
	border:1px dashed gray;
	padding:10px;
	display:none;
}
#import-btns table{
	width:100%;
}
#btn-show, #btn-import{
	width:80%;
	margin:10px auto;
	display:none;
	margin-top:10px;
}
#upload-msg,#import-msg{
	width:40%;
	margin:20px auto;
	border:1px solid darkred;
	border-radius:5px;
	background-color:orange;
	display:none;
}
#upload-msg{
	padding:5px;
}
#upload-type{
	width:90%;
	margin:10px auto;
	border:1px dashed green;
	text-align:center;
	padding:10px;
	display:none;
}
#upload-type{
	background-color:#ebfce5;
	color:#ff0000;
}
#show_excel{
	width:90%;
	height:500px;
	margin:20px auto;
	/*border:1px solid gray;
	background-color:#efefef;*/
	overflow:auto;
	direction:rtl;
	font-family:Vazir;
	padding:10px;
}
#ExcelCells, #excel-struct{
	border-collapse: collapse;
	margin:0 auto;
}
#ExcelCells td, #ExcelCells th, #excel-struct td, #excel-struct th{
	border:1px solid gray;
	border-collapse: collapse;
	padding:5px;
}
#excel-struct{
	width:100%;
	margin:10px auto;
	direction:ltr;
}
#excel-struct th{
	width:6%;
	color:black;
	background-color:#bbb;
}
#excel-struct td{
	color:black;
	background-color:#ffffff;
}
#emz{
    color: yellow;
}
#emz1{
    color: mediumblue;
}
.lbl-member{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #5E83BA;
    border:2px solid gray;
    padding: 10px;
    color: white;
}
.lbl-member a {
	background-color:green;
	color:white;
	padding:5px;
	border:1px solid yellow;
	border-radius:50%;
	margin-left:5px;
}
#t-input {
    margin:auto;
    width: 100%;
    max-width:100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border: 1px solid black;
    table-layout: fixed;
}
#t-input th {
    padding:2px;
    border:1px solid gray;
}
#t-input td {
    padding:6px;
    border:1px solid gray;
    font-size: 15px;
}
#t-input thead, #t-input tfoot {
    background: #4c6066;
    width:100%;
}
#t-input tbody {
    width:100%;
}
#t-input tbody tr {
    width:100%;
    cursor:pointer;
    background: #a0ddac;
    box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(255,255,255,0.75);

}

#t-input thead {
    background: #4c6066;
    border-bottom: 2px solid #080744;
    height:10%;
}

#t-input thead th {
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color:white;
    text-align: center;
    border-left: 2px solid #24943A;
}

#t-input tbody tr:nth-child(even)
{
    background: #c6e7cd;
}
#report-open{
	display:none;
}
.formMember [type="text"]{
	padding:5px;
	text-align:right;
	border:1px solid gray;
	border-radius:5px;
	margin-bottom:5px;
}
.formMember textarea{
	border:1px solid gray;
	border-radius:10px;
	text-align:right;
	font-family:Vazir;
	width:100%;
    resize: none;
	margin-top:5px;
	padding:5px;
}
      
        
        .menu-list { 
            max-width: 100%; 
            margin: auto; 
            height: 50px; 
            color: white; 
            background-color: green;
            border-radius: 10px;
        } 
        
        .geeks { 
			height:50px;
            background-color: #111; 
            position: relative; 
        } 
        
        .geeks #menus { 
			display:none;
			background-color:blue;
			padding-top:20px;
			padding-right:20px;
			text-align:right;
        } 
        .geeks a { 
            text-decoration: none; 
            color: white; 
            padding: 12px 16px; 
            font-size: 16px; 
            display: block; 
        } 
        
        .geeks a.icon { 
            display: block; 
            position: absolute; 
            right: 0; 
            top: 0; 
        } 
        
        .geeks a:hover { 
            background-color: #ddd; 
            color: black; 
        } 
